.business_transformation {
  background-color: #f5f7fa;
  max-width: 1440px;
}
.business_detail {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 64px 144px;
}
.business_text {
  gap: 8px;
  /* width: 540px; */
}
/* .business_heaing {
} */
#black_text {
  font-weight: 600;
  font-size: 36px;
  line-height: 44px;
  letter-spacing: 0%;
  color: #4d4d4d;
}
#green_text {
  font-weight: 600;
  font-size: 36px;
  line-height: 44px;
  letter-spacing: 0%;
  color: #4caf4f;
}
#business_description {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0%;
  color: #18191f;
}
/* Business Achievment cards style */
.business_achievements {
  align-items: center;
  gap: 40px;
  justify-content: start;
  display: grid;
  align-items: center;
  position: relative;
  right: 10%;
}
.member_clubs {
  gap: 40px;
  align-items: center;
}

.members_Card {
  gap: 16px;
  align-items: center;
}
.clubs_Card {
  gap: 16px;
  align-items: center;
}
.EventBooking_payment {
  gap: 40px;
  align-items: center;
}
.EventBooking_Card {
  gap: 16px;
  align-items: center;
}
.payment_Card {
  gap: 16px;
  align-items: center;
}
.cardIcon {
  width: 48px;
}
.countDownRecords {
  font-weight: 700;
  font-size: 28px;
  line-height: 36px;
  letter-spacing: 0%;
  color: #4d4d4d;
}

.catagory {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0%;
  color: #717171;
}
@media (max-width: 1280px) {
  .business_transformation {
    max-width: 1280px;
  }
  .business_detail {
    padding: 40px 80px;
  }

  /* .business_heaing {
  } */
  #black_text {
    font-size: 35px;
  }
  #green_text {
    font-size: 35px;
  }
  #business_description {
    font-size: 15px;
  }
  /* Business Achievment cards style */
  .business_achievements {
    right: 10%;
    gap: 30px;
  }
  .countDownRecords {
    font-size: 25px;
  }

  .catagory {
    font-size: 15px;
  }
  .cardIcon {
    width: 45px;
  }
}
@media (max-width: 1024px) {
  .business_transformation {
    background-color: #f5f7fa;
    max-width: 1024px;
  }
  .business_detail {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 50px;
  }
  .business_text {
    gap: 8px;
    /* width: 540px; */
  }
  /* .business_heaing {
  } */
  #black_text {
    font-size: 34px;
  }
  #green_text {
    font-size: 34px;
  }
  #business_description {
    font-size: 15px;
  }
  /* Business Achievment cards style */
  .business_achievements {
    gap: 12px;
    right: 2%;
  }
  .member_clubs {
    gap: 30px;
    align-items: center;
  }

  .members_Card {
    gap: 16px;
    align-items: center;
  }
  .clubs_Card {
    gap: 16px;
    align-items: center;
  }
  .EventBooking_payment {
    gap: 40px;
    align-items: center;
  }
  .EventBooking_Card {
    gap: 16px;
    align-items: center;
  }
  .payment_Card {
    gap: 16px;
    align-items: center;
  }
  .cardIcon {
    width: 40px;
  }
  .countDownRecords {
    font-size: 25px;
  }

  .catagory {
    font-size: 15px;
  }
}
@media (max-width: 960px) {
  .business_transformation {
    background-color: #f5f7fa;
    max-width: 960px;
  }
  .business_detail {
    padding: 20px 40px;
  }
  .business_text {
    gap: 8px;
    /* width: 540px; */
  }
  /* .business_heaing {
  } */
  #black_text {
    font-size: 32px;
  }
  #green_text {
    font-size: 32px;
  }
  #business_description {
    font-size: 13px;
  }
  /* Business Achievment cards style */
  .business_achievements {
    gap: 10px;
    left: 0%;
  }
  .member_clubs {
    gap: 30px;
    align-items: center;
  }

  .members_Card {
    gap: 16px;
    align-items: center;
  }
  .clubs_Card {
    gap: 16px;
    align-items: center;
  }
  .EventBooking_payment {
    gap: 40px;
    align-items: center;
  }
  .EventBooking_Card {
    gap: 16px;
    align-items: center;
  }
  .payment_Card {
    gap: 16px;
    align-items: center;
  }
  .cardIcon {
    width: 35px;
  }
  .countDownRecords {
    font-size: 25px;
  }

  .catagory {
    font-size: 15px;
  }
}
