/* Hero Section Styles */
/* Change the color of inactive dots */
.swiper-pagination-bullet {
  background-color: #b4e2b6 !important; /* Your desired active dot color */

  width: 10px;
  height: 10px;
  opacity: 1;
}

/* Change the color of the active dot */
.swiper-pagination-bullet-active {
  background-color: #4caf4f !important; /* Your desired active dot color */
  width: 10px;
  height: 10px;
}

.heroSection {
  background-color: #f5f7fa;
  max-width: 1440px;
  height: 100%;
  position: relative;
  overflow: hidden;
}

.hero_flex_section {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 104px;
  margin: 96px 144px;
}
.heroSection_left {
  /* margin-left: 20px; */
}
.heroHeading h2 {
  font-size: 64px;
  font-weight: 600;
  line-height: 76px;
  font-weight: 600;
  color: #4d4d4d;
  z-index: 2;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  /* display: inline-block; */
  /* white-space: nowrap; */
  /* margin-bottom: -15px; */
}
.herosubheading {
  font-size: 64px;
  font-weight: 600;
  line-height: 76px;
  font-weight: 600;
  color: #4caf4f;
}
.heroSubtext {
  font-size: 16px;
  color: #717171;
  line-height: 24px;
  font-weight: 400;
  letter-spacing: 0;
  margin-top: 16px;
}

.heroCta {
  background-color: #4caf4f;
  color: white;
  padding: 14px 32px;
  border-radius: 4px;
  font-weight: 500;
  letter-spacing: 0%;
  text-align: center;
  gap: 10px;
  margin-top: 32px;
  transition: all 0.3s ease;
  font-size: 16px;
}
#heroSection_Image {
  width: 391px;
  position: relative;
  right: 4%;
}
.heroCta:hover {
  background-color: #45a049;
  transform: translateY(-2px);
}
/* Add to existing CSS */

@media (max-width: 1366px) {
  /* Hero Section Styles */
  .heroSection {
    max-width: 1366px;
  }
  .hero_flex_section {
    /* gap: 104px; */
    margin: 64px 70px;
  }
  .heroSection_left {
    margin-left: 20px;
  }
  .heroHeading {
    line-height: 24px;
    z-index: 2;
  }
  .heroHeading h2 {
    font-size: 48px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    /* word-spacing: 20px; */
  }
  .herosubheading {
    font-size: 54px;
  }
  .heroSubtext {
    font-size: 13px;
  }

  #heroSection_Image {
    width: 371px;
  }
}
@media (max-width: 1024px) {
  /* Hero Section Styles */
  .heroSection {
    max-width: 1024px;
  }
  .hero_flex_section {
    /* gap: 104px; */
    margin: 40px 50px;
  }

  .heroHeading h2 {
    font-size: 48px;
    font-weight: 600;
    line-height: 50px;
  }
  .herosubheading {
    font-size: 48px;
    font-weight: 600;
    line-height: 50px;
    font-weight: 600;
  }
  .heroSubtext {
    font-size: 15px;

    line-height: 20px;

    margin-top: 12px;
  }
  #heroSection_Image {
    width: 301px;
  }
  .heroCta {
    padding: 12px 28px;

    margin-top: 28px;
    transition: all 0.3s ease;
    font-size: 16px;
  }
}
@media (max-width: 960px) {
  /* Hero Section Styles */
  .heroSection {
    max-width: 960px;
  }
  .hero_flex_section {
    margin: 40px 50px;
  }

  .heroHeading h2 {
    font-size: 41px;

    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    /* word-spacing: 20px; */
  }
  .herosubheading {
    font-size: 40px;
  }

  #heroSection_Image {
    width: 371px;
  }

  .heroCta:hover {
    background-color: #45a049;
    transform: translateY(-2px);
  }
}
/* Responsive Design */
@media (max-width: 768px) {
  /* Hero Section Styles */
  .heroSection {
    max-width: 768px;
    padding-bottom: 20px;
  }
  .hero_flex_section {
    flex-direction: column;
    align-items: center;
    margin: 20px;
  }
  .SliderDots {
    margin-top: 40px; /* Increase spacing for mobile */
  }
  .heroHeading h2 {
    font-size: 44px;
    margin-bottom: 0;
    /* line-height: 24px; */
  }
  .herosubheading {
    font-size: 44px;
    color: #4caf4f;
  }
  .heroSubtext {
    font-size: 12px;
  }

  .heroCta {
    padding: 13px 30px;
    width: 100%;
  }
  #heroSection_Image {
    width: 300px;
    position: relative;
    left: 6%;
    top: 10%;
    margin-bottom: 30px;
  }
  .heroCta:hover {
    background-color: #45a049;
    transform: translateY(-2px);
  }
}

@media (max-width: 640px) {
  /* Hero Section Styles */
  .heroSection {
    max-width: 640px;
  }

  .heroHeading h2 {
    font-size: 30px;
    margin-bottom: 0;
  }
  .herosubheading {
    font-size: 30px;
  }
  .heroSubtext {
    font-size: 12px;
  }

  .heroCta {
    width: 96%;
  }
  .heroSection_right {
    margin-top: -20px;
  }
  #heroSection_Image {
    width: 270px;
    position: relative;
    left: 10%;
    top: 0%;
  }

  .sliderDots {
    bottom: 3%;
  }
}
@media (max-width: 425px) {
  /* Hero Section Styles */
  .heroSection {
    max-width: 425px;
  }
  .hero_flex_section {
    flex-direction: column;
    /* justify-content: space-between; */
    align-items: center;
  }

  .heroHeading h2 {
    font-size: 30px;
    margin-bottom: 0;
  }
  .herosubheading {
    font-size: 30px;
  }
  .heroSubtext {
    font-size: 12px;
  }

  .heroCta {
    padding: 13px 30px;
  }

  #heroSection_Image {
    width: 265px;
    position: relative;
    left: 8%;
    top: 0%;
  }
}
@media (max-width: 320px) {
  /* Hero Section Styles */
  .heroSection {
    max-width: 320px;
  }
  .hero_flex_section {
    flex-direction: column;
    gap: 4rem;
    align-items: center;
  }

  .heroHeading h2 {
    font-size: 24px;
    margin-bottom: 0;
  }
  .herosubheading {
    font-size: 24px;
  }
  .heroSubtext {
    font-size: 12px;
  }

  .heroCta {
    padding: 12px 32px;
  }

  #heroSection_Image {
    width: 220px;
    position: relative;
    left: 8%;
    top: 0%;
  }
}
