.Get_Demo {
  background-color: #f5f7fa;
  padding: 0px 144px;
}
.demo_heading {
  padding-top: 32px;
}
.demo_heading h1 {
  font-weight: 600;
  font-size: 64px;
  line-height: 76px;
  color: #263238;
  text-align: center;
  width: 787px;
  margin: auto;
}
.demo_btn {
  border-radius: 4px;
  padding: 14px 32px;
  gap: 8px;
  color: white;
  background-color: #4caf4f;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  text-align: center;
  margin: 32px 0px;
  cursor: pointer;
}
@media (max-width: 1024px) {
  .Get_Demo {
    padding: 0px 40px;
  }
  .demo_heading {
    padding-top: 32px;
  }
  .demo_heading h1 {
    width: auto;
    margin: auto;
    font-size: 64px;
    padding: 0px 20px;
  }
}
@media (max-width: 768px) {
  .Get_Demo {
    padding: 0px 16px;
  }
  .demo_heading {
    padding-top: 32px;
  }
  .demo_heading h1 {
    font-size: 50px;
    padding: 0px;
  }
}
@media (max-width: 390px) {
  .Get_Demo {
    padding: 0px 16px;
  }
  .demo_heading {
    padding-top: 20px;
  }
  .demo_heading h1 {
    font-size: 30px;
    line-height: 42px;
    padding: 0px;
    padding: 0px 20px;
  }
}
