.main_div {
  background-color: white;
}
.client_div {
  margin-left: 144px;
  margin-right: 144px;
}

.client_heading {
  align-items: center;
}
.client_heading h2 {
  font-size: 36px;
  line-height: 44px;
  font-weight: 600;
  color: #4d4d4d;
}
.client_heading p {
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  text-align: center;
  color: #717171;
}
.client_Icons {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 14px;
  padding: 25px 0px;
}
.client_icon {
  width: calc(100% / 7);
  max-width: 40px;
}
/* Community Card style */
.community_div {
  margin-top: 40px;
  margin-bottom: 40px;
}
.community_header {
}
.community_header h2 {
  font-size: 36px;
  line-height: 44px;
  font-weight: 600;

  color: #4d4d4d;
  /* width: 542px; */
}
.community_header p {
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  text-align: center;
  color: #717171;
}
.community_card {
  display: flex;
  justify-content: space-between;
  gap: 2rem;
  margin: 16px 144px;
}
.community_card .card {
  /* display: flex; */
  box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 2px 0px;
  width: 299px;
  /* height: 280px; */
  padding: 24px 16px;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  align-items: center; /* Horizontal centering */
  text-align: center; /* For text elements */
}
.card h2 {
  font-weight: 700;
  font-size: 28px;
  line-height: 36px;
  margin: 0px 14px;
  text-align: center;
  color: #4d4d4d;
}
.card img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 16px;
  /* max-width: 100%; */
  height: auto;
}
.card p {
  text-align: center;
  line-height: 20px;
  font-size: 14px;
  font-weight: 400;
  padding: 8px 10px;
  color: #717171;
}
/* pixel Grade year style */
.pixelgrade_year {
  display: flex;
  margin: 24px 144px;
  align-items: center;
  padding-bottom: 25px;
}
.pixelGrade_img_div {
}
.pixelGrade_img_div img {
  width: 442px;
}
.pixelGrade_content {
  width: 601px;
  margin-left: 40px;
}
.pixelGrade_content h1 {
  font-size: 36px;
  line-height: 44px;
  font-weight: 600;
  color: #4d4d4d;
  margin-right: 20px;
  margin-bottom: 20px;
}
.pixelGrade_content p {
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  color: #717171;
}
.pixelGrade_content button {
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  text-align: center;
  background-color: #4caf4f;
  color: white;
  border-radius: 4px;
  padding: 14px 32px;
  margin-top: 32px;
}
/* Responsivness Design */
@media (max-width: 1024px) {
  .client_div {
    margin-left: 80px;
    margin-right: 80px;
  }

  /* Community Card style */
  .community_div {
    margin-top: 35px;
    margin-bottom: 35px;
  }

  .community_card {
    display: flex;
    justify-content: space-between;
    gap: 2rem;
    margin: 16px 80px;
  }

  .card p {
    font-size: 14px;
    padding: 8px 0;
  }
  /* pixel Grade year style */
  .pixelgrade_year {
    margin: 20px 80px;
  }
  .pixelGrade_img_div {
  }
  .pixelGrade_img_div img {
    width: 420px;
  }
  .pixelGrade_content {
    width: 601px;
    margin-left: 10px;
  }
  .pixelGrade_content h1 {
    font-size: 34px;

    margin-bottom: 15px;
  }
  .pixelGrade_content p {
    font-size: 14px;
  }
}
@media (max-width: 960px) {
  .main_div {
    padding-top: 40px;
  }
  .client_div {
    margin-left: 40px;
    margin-right: 40px;
  }

  .client_heading {
    align-items: center;
  }
  .client_heading h2 {
    font-size: 36px;
  }
  .client_heading p {
    font-size: 16px;
  }
  .client_Icons {
    margin-top: 14px;
    padding: 25px 0px;
  }
  /* Community Card style */
  .community_div {
    margin-top: 30px;
    margin-bottom: 30px;
  }
  .community_header {
  }
  .community_header h2 {
    font-size: 34px;

    /* width: 542px; */
  }
  .community_header p {
    font-size: 15px;
  }
  .community_card {
    margin: 16px 40px;
  }
  .community_card .card {
    box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 2px 0px;
    width: 299px;

    padding: 18px 14px;
  }
  .card h2 {
    font-size: 26px;
  }

  .card p {
    font-size: 13px;

    padding: 8px 0;
  }
  /* pixel Grade year style */
  .pixelgrade_year {
    display: flex;
    margin: 18px 40px;
    align-items: center;
  }
  .pixelGrade_img_div {
  }
  .pixelGrade_img_div img {
    width: 420px;
  }
  .pixelGrade_content {
    width: 601px;
    margin-left: 10px;
  }
  .pixelGrade_content h1 {
    font-size: 32px;

    margin-bottom: 15px;
  }
  .pixelGrade_content p {
    font-size: 13px;
  }
  .pixelGrade_content button {
    font-size: 16px;

    padding: 12px 28px;
    margin-top: 32px;
  }
}
@media (max-width: 768px) {
  .main_div {
    padding-top: 30px;
  }
  .client_div {
    margin-left: 20px;
    margin-right: 20px;
  }

  .client_heading h2 {
    font-size: 34px;
  }
  .client_heading p {
    font-size: 14px;
  }
  .client_Icons {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    margin-top: 10px;
    gap: 5px;
  }
  .client_icon {
    width: calc(100% / 4);
    max-width: 30px;
  }
  /* Community Card style */
  .community_div {
    margin-top: 20px;
    margin-bottom: 20px;
  }
  .community_header {
  }
  .community_header h2 {
    font-size: 28px;
  }
  .community_header p {
    font-size: 13px;
    line-height: 24px;
    font-weight: 400;
    text-align: center;
    color: #717171;
  }
  .community_card {
    display: grid;
    justify-content: center;
    gap: 10px;
    margin: 16px 20px;
    gap: 20px;
  }
  .community_card .card {
    box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 3px 0px,
      rgba(0, 0, 0, 0.06) 0px 1px 2px 0px;
    width: 400px;

    padding: 18px 14px;
    display: flex;

    flex-direction: column;
    align-items: center; /* Horizontal centering */
    text-align: center; /* For text elements */
  }
  .card h2 {
    font-size: 25px;
  }
  .card img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 16px;
    /* max-width: 100%; */
    height: auto;
  }
  .card p {
    text-align: center;
    line-height: 20px;
    font-size: 14px;
    font-weight: 400;
    padding: 8px 6px;
    color: #717171;
  }
  /* pixel Grade year style */
  .pixelgrade_year {
    flex-direction: column;
    margin: 18px 20px;
    align-items: center;
    justify-content: center;
  }
  .pixelGrade_img_div {
  }
  .pixelGrade_img_div img {
    width: 350px;
  }
  .pixelGrade_content {
    width: auto;
  }
  .pixelGrade_content h1 {
    font-size: 30px;

    margin-bottom: 15px;
  }
  .pixelGrade_content p {
    font-size: 13px;
  }
  .pixelGrade_content button {
    font-size: 16px;
    width: 100%;
    padding: 12px 28px;
    margin-top: 32px;
  }
}
@media (max-width: 425px) {
  .client_div {
    margin-left: 16px;
    margin-right: 16px;
  }

  .client_heading {
    align-items: center;
  }
  .client_heading h2 {
    font-size: 28px;
  }
  .client_heading p {
    font-size: 14px;
  }
  .client_Icons {
    display: flex;

    align-items: center;
    justify-content: space-between;
    margin-top: 10px;

    gap: 10px;
  }
  .client_icon {
    width: calc(100% / 2);
    max-width: 30px;
  }
  /* Community Card style */
  .community_div {
    margin-top: 16px;
    margin-bottom: 16px;
  }

  .community_header h2 {
    font-size: 28px;
  }
  .community_header p {
    font-size: 14px;
  }
  .community_card {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
  }
  .community_card .card {
    box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 3px 0px,
      rgba(0, 0, 0, 0.06) 0px 1px 2px 0px;
    width: auto;
    padding: 10px;
    flex-direction: column;
    align-items: center;
  }
  .card h2 {
    font-size: 24px;
  }

  .card p {
    font-size: 13px;
    padding: 8px 0;
  }
  /* pixel Grade year style */
  .pixelgrade_year {
    flex-direction: column;
    margin: 18px 20px;
    align-items: center;
    justify-content: center;
  }
  .pixelGrade_img_div {
  }
  .pixelGrade_img_div img {
    width: 320px;

    align-items: center;
    justify-content: center;
  }
  .pixelGrade_content {
    width: auto;
    margin-left: 10px;
  }
  .pixelGrade_content h1 {
    font-size: 28px;
    line-height: 120%;
    font-weight: 600;

    margin-bottom: 10px;
  }
  .pixelGrade_content p {
    font-size: 13px;

    line-height: 20px;
    color: #717171;
  }
  .pixelGrade_content button {
    font-size: 15px;

    padding: auto;
    margin-top: 20px;
  }
}
